<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARSE_CLIENT_ID</key>
	<string>1sSAUMoV9Hq591YhV48oz7svwjVUyc0naUG1wVUo</string>
	<key>UUID</key>
	<string></string>
	<key>PARSE_CLIENT_KEY</key>
	<string>ZhHVib7bJqPJFQsxiGNchjyn9gxtlfuvpKBo2TXG</string>
</dict>
</plist>
